@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// Universally applied styles:

$primary-color: rgba(26, 26, 26, 0.648);
$secondary-color: red;
$tertiary-color: rgba(202, 172, 1, 0.503);
$accents-color: white;

:root {
    font-size: 16px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: $primary-color;
    box-sizing: border-box;
}

// Styles that are applied to individual webpages as identified by ID
#content {
    // height: 100%;

    #home {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-image: url(../images/home_image.jpeg);
        background-color: #cccccc;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        header {
            background-color: $tertiary-color;
            display: flex;
            align-items: center;
            justify-content: space-around;
            border-bottom: 1px solid gold;

            div {
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    margin-right: 15px;
                }

                &>* {}
            }

            nav {
                ul {
                    display: flex;

                    li {
                        list-style-type: none;

                        a {
                            text-decoration: none;
                            color: black;
                            margin-right: 15px;
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }

        main {
            flex: 1;
            display: flex;
            flex-flow: row wrap;

            .container {
                width: 100%;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;

                .about {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    color: $accents-color;
                    width: 60%;
                    background-color: $primary-color;
                    border-radius: 5px;

                    h1 {}

                    div {
                        width: clamp(20ch, 70%, 75ch);
                        margin-bottom: 25px;
                    }
                }
            }

        }


        footer {
            background-color: $tertiary-color;
            border-top: 1px solid gold;
            text-align: center;
            padding: 15px 0px;
        }
    }

    #menu {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-image: url(../images/home_image.jpeg);
        background-color: #cccccc;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        header {
            background-color: $tertiary-color;
            display: flex;
            align-items: center;
            justify-content: space-around;
            border-bottom: 1px solid gold;

            div {
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    margin-right: 15px;
                }
            }

            nav {
                ul {
                    display: flex;

                    li {
                        list-style-type: none;

                        a {
                            text-decoration: none;
                            color: black;
                            margin-right: 15px;
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }

        main {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: start;
            margin-top: 10%;

            .container {
                width: 85%;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: start;
                flex-wrap: wrap;
                border: 1px solid gold;
                background-color: $primary-color;
                margin-bottom: 10%;

                .card {
                    color: gold;
                    border: 1px solid gold;
                    width: 400px;
                    margin: 5% 2%;
                    padding: 2%;

                    img {
                        width: 100%;
                        height: 200px;
                        object-fit: cover;
                    }
                }
            }
        }

        footer {
            background-color: $tertiary-color;
            border-top: 1px solid gold;
            text-align: center;
            padding: 15px 0px;
        }
    }

    #contact {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-image: url(../images/home_image.jpeg);
        background-color: #cccccc;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        header {
            background-color: $tertiary-color;
            display: flex;
            align-items: center;
            justify-content: space-around;
            border-bottom: 1px solid gold;

            div {
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    margin-right: 15px;
                }
            }

            nav {
                ul {
                    display: flex;

                    li {
                        list-style-type: none;

                        a {
                            text-decoration: none;
                            color: black;
                            margin-right: 15px;
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }

        main {
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            margin-top: 10%;

            .container {
                width: 85%;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $primary-color;
                border: 1px solid $tertiary-color;

                .contact-info {
                    color: $accents-color;
                    padding: 20px 10px;
                    font-size: 1.3rem;

                    h4 {
                        padding: 10px;
                        margin: 0;
                    }
                }
            }

            .map {
                background-color: $primary-color;
                width: 80%; // width will eventually be defined mainly by my image
                height: 400px; // height will eventually be defined solely by my image
                color: white;
                text-align: center;
            }
        }

        footer {
            background-color: $tertiary-color;
            border-top: 1px solid gold;
            text-align: center;
            padding: 15px 0px;
        }
    }
}